body {
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

.banner {
    height: 350px;
    background: url(assets/votacao.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(22, 72, 118, 0.25);
    background-blend-mode: color;
    display: flex;
    flex-direction: column;
}

.degradê {
    width: auto;
    height: 104px;
    background-image: linear-gradient(rgba(80, 173, 191, 1), rgba(0, 0, 0, 0));
    display: flex;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    width: 50%;
    font-family: 'Josefin Sans';
    justify-content: end;
    display: flex;
    height: 104px;
}

.container img {
    height: 45px;
}

.navbar {
    font-size: 16px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
    width: 40%;
}

.navbar .agora {
    color: #061F36;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.25s;
}

.navbar a:hover {
    color: #061F36;
    transition: 0.25s;
}

.navbar .botao {
    border: solid 2px #FFFFFF;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    height: 42px;
    width: 80px;
    color: white;
    font-family: 'Josefin Sans';
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links .botao:hover {
    color: #061F36;
    border: solid 2px #061F36;
    transition: 0.25s;
}

.texto_pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 3px green; */
    height: 100%;
}

.text_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 3px firebrick; */
}

.text_banner h1 {
    color: #E7E7DD;
    text-align: center;
    font-family: 'Grandstander';
    font-size: 85px;
    text-shadow: 0px 4px 4px black;
    padding-bottom: 30px;
}

/* votação */
.votacao {
    width: auto;
}

.votacao .container {
    /* border: solid 3px blue; */
    display: flex;
    flex-direction: column;
}

.votacao .container h1{
    margin-top: 50px;
    font-family: 'PT Serif';
}

.fileira1 {
    /* border: solid 3px crimson; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
}

.fileira2 {
    /* border: solid 3px crimson; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
}

.fileira3 {
    /* border: solid 3px crimson; */
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 60px;
}

.poster_tudo {
    /* border: solid 3px chocolate; */
    width: 220px;
    transition: 0.25s;
    padding-bottom: 15px;
}

.poster_tudo:hover{
    box-shadow: 0px 0px 3px 0.25px black;
    transition: 0.25s;
    transform: scale(1.1);
}

.poster {
    /* border: solid 3px chartreuse; */
    height: 300px;
}

.poster_tudo .texto h1 {
    font-family: 'PT Serif';
    font-size: 15px;
    width: 100%;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}

#A_Viagem_de_Chihiro {
    background-image: url('assets/poster1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Meu_Amigo_Totoro {
    background-image: url('assets/poster2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#O_Castelo_Animado {
    background-image: url('assets/poster3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Princesa_Mononoke {
    background-image: url('assets/poster4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#O_Serviço_de_Entregas_da_Kiki {
    background-image: url('assets/poster5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Ponyo {
    background-image: url('assets/poster6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#O_Último_Herói_Romântico {
    background-image: url('assets/poster7.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#O_Reino_dos_Gatos {
    background-image: url('assets/poster8.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Vidas_ao_Vento {
    background-image: url('assets/poster9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#O_Mundo_dos_Pequeninos {
    background-image: url('assets/poster10.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#As_Memórias_de_Marnie {
    background-image: url('assets/poster11.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Contos_de_Terramar {
    background-image: url('assets/poster12.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#botão_conf button{
    /* border: solid 3px goldenrod; */
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#botão_ref button{
    /* border: solid 3px goldenrod; */
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#botão_conf button {
    display: none;
}

#botão_ref button {
    display: none;
}

.desfazer a {
    text-decoration: none;
    color: white;
}

.confirmar a {
    text-decoration: none;
    color: white;
}

#botão_conf button {
    background-color: #EAC557;
    font-family: 'PT Serif';
    font-size: 20px;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botão_conf button:hover{
    background-color: #c5a649;
    transition: 0.25s;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

#botão_ref button {
    background-color: #EAC557;
    font-family: 'PT Serif';
    font-size: 20px;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#botão_ref button:hover{
    background-color: #c5a649;
    transition: 0.25s;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

/* chartJS */
.resultado_voto {
    text-align: center;
    font-family: 'PT Serif';
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.resultado_voto div {
    width: 65%;
}

#grafico {
    margin-top: 40px;
}
/* chartJS */
/* Início de indicacao */
.indicacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicacao h1{
    text-align: center;
    font-family: 'PT Serif';
    font-size: 20px;
    margin-bottom: 30px;
}

.indicacao button {
    background-color: #EAC557;
    font-family: 'PT Serif';
    font-size: 20px;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.indicacao button:hover{
    background-color: #c5a649;
    transition: 0.25s;
    box-shadow: 0px 1px 5px black;
    cursor: pointer;
}

#resultado_indicacao{
    margin-bottom: 30px;
    font-family: 'Josefin Sans';
    font-size: 20px;
    border: solid 1px #061F36;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
    border-radius: 5px;
}

/* fim de indicacao */
/* Início do Footer */
.footer {
    display: flex;
    flex-direction: column;
}

.caixa_verde {
    background-color: #50ADBF;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info p {
    font-family: 'PT Serif';
    font-size: 15px;
    text-align: center;
    color: white;
    margin-bottom: 0%;
}
/* Fim do Footer */