/* Início da navbar */
body {
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
  }

.banner {
    height: 550px;
    background: url(assets/home1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(22, 72, 118, 0.25);
    background-blend-mode: color;
}

.degradê {
    width: auto;
    height: 104px;
    background-image: linear-gradient(rgba(80, 173, 191, 1), rgba(0, 0, 0, 0));
    display: flex;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    width: 50%;
    font-family: 'Josefin Sans';
    justify-content: end;
}

.container img {
    height: 45px;
}

.navbar {
    font-size: 16px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
}

.navbar .agora {
    color: #061F36;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.25s;
}

.navbar a:hover {
    color: #061F36;
    transition: 0.25s;
}

.navbar .botao{
    border: solid 2px #FFFFFF;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    height: 42px;
    width: 145px;
    color: white;
    font-family: 'Josefin Sans';
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links .botao:hover{
    color: #061F36;
    border: solid 2px #061F36;
    transition: 0.25s;
}


.text_banner {
    color: #E7E7DD;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_banner h1 {
    font-family: 'Grandstander';
    font-size: 85px;
    text-shadow: 0px 4px 4px black;
    margin-bottom: 50px;
}

.text_banner p {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 20px;
    text-shadow: 0px 4px 4px black;
    margin: 0%;
    margin-top: 5px;
}

.text_banner .button{
    margin-top: 45px;
    border-radius: 100px;
    background-color: transparent;
    font-family: 'Merriweather';
    font-size: 15px;
    color: #EAC557;
    border: solid 3px #EAC557;
    cursor: pointer;
    transition: 0.25s;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.button a {
    color: #EAC557;
    text-decoration: none;
    align-items: center;
    align-self: center;
    align-content: center;
}

.text_banner .button:hover{
    background-color: rgba(231, 231, 221, 0.1);
    box-shadow: 0px 2px 5px black;
    transition: 0.25s;
}

/* Fim da navbar */
/* Inicio da Curiosidade */
.curiosidade {
    display: flex;
    width: 100%;
    /* border: solid 3px crimson; */
    justify-content: space-around;
    margin-top: 125px;
    margin-bottom: 125px;
    /* height: 500px; */
}

.caixa {
    /* border: solid 3px rgb(97, 20, 220); */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    transition: transform 0.2s;
    transition: 0.25s;
}

.caixa img{
    height: 100px;
    align-items: center;
}

.caixa .titulo{
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

.caixa .desc{
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 20px;
    width: 303px;
    text-align: center;
    margin-bottom: 0%;
    margin-top: 0%;
}

.linha{
    height: 252px;
    border-right: 1px solid black;
    align-self: center;
}

.caixa:hover{
    box-shadow: 0px 0px 3px 0.25px black;
    border-radius: 10px;
    transition: 0.25s;
    transform: scale(1.1); 
}
/* Fim da Curiosidade */
/* Início da Sinopse */
.sinopse {
    height: 531px;
    /* border: solid 3px lawngreen; */
    display: flex;
    align-items: center;
}

.sinopse .imagem{
    /* border: solid 3px blue; */
    background: url(assets/home2.webp) no-repeat;
    width: 50%;
    height: 531px;
    background-size: cover;
    background-position: right;
}

.sinopse .fundo_verde{
    background-color: #50ADBF;
    color: white;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.fundo_verde .texto{
    /* border: solid 3px coral; */
    width: max-content;
    margin-left: 100px;
    margin-right: 20%;
}

.fundo_verde h1{
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 700;
}

.fundo_verde p{
    font-family: 'Playfair Display';
    font-size: 22px;
    font-weight: 400;
    text-align: justify;
    text-justify: inter-word;
}
/* Fim da Sinopse */
/* Início da Repercussão Mundial */
.container .texto{
    margin-top: 100px;
    margin-bottom: 100px;
}

.container .texto h1 {
    font-family: 'Merriweather';
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 45px;
}

.container .texto p {
    font-family: 'Playfair Display';
    font-size: 22px;
    font-weight: 400;
    text-align: justify;
}
/* Fim da Repercussão Mundial */
/* Início do Footer */
.footer {
    display: flex;
    flex-direction: column;
}

.caixa_verde {
    background-color: #50ADBF;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info img {
    height: 45px;
}

.info p {
    font-family: 'PT Serif';
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0%;
}
/* Fim do Footer */