/* Início do header */
/* Início da navbar */
body {
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
}

.banner {
    height: 700px;
    background: url(assets/home1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    /* background-attachment: fixed; */
    background-color: rgba(22, 72, 118, 0.25);
    background-blend-mode: color;
}

.degradê {
    width: auto;
    height: 104px;
    background-image: linear-gradient(rgba(80, 173, 191, 1), rgba(0, 0, 0, 0));
    /* border: solid 3px aqua; */
    display: flex;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    /* border: solid 3px violet; */
    justify-content: space-between;
}

.links {
    /* border: solid 3px khaki; */
    width: 50%;
    font-family: 'PT Serif';
    justify-content: end;
}

.container img{ /*logo*/
    height: 50px;
}

.links ul {
    font-size: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
}

.links .agora {
    color: #061F36;
}

.links a {
    color: #FFFFFF;
    text-decoration: none;
 }

.links a:hover {
    color: #061F36;
    transition: 0.25s;
}

.links button{
    border: solid 2px #FFFFFF;
    border-radius: 0;
    background-color: transparent;
    font-size: 20px;
    height: 46px;
    width: 155px;
    color: white;
    font-family: 'PT Serif';
    cursor: pointer;
}

.links button:hover{
    color: #061F36;
    border: solid 2px #061F36;
    transition: 0.25s;
}

.text_banner {
    color: #E7E7DD;
    text-align: center;
}

.text_banner h1 {
    font-family: 'Grandstander';
    font-size: 110px;
    text-shadow: 0px 4px 4px black;
    margin-bottom: 50px;
}

.text_banner p {
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 25px;
    text-shadow: 0px 4px 4px black;
    margin: 0%;
    margin-top: 5px;
}

.text_banner button{
    margin-top: 70px;
    padding: 22px 24px;
    border-radius: 100px;
    background-color: transparent;
    font-family: 'Merriweather';
    font-size: 24px;
    color: #EAC557;
    border: solid 3px #EAC557;
    cursor: pointer;
}

.text_banner button:hover{
    background-color: rgba(231, 231, 221, 0.1);
    box-shadow: 0px 2px 5px black;
    transition: 0.25s;
}

/* Fim da navbar */
/* Inicio da Curiosidade */
