/* popup */

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup_conteudo {
    background-color: white;
    margin: 10% auto;
    width: 70%;
    height: 80%;
    box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.17), 0px 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: abrindoPopup;
    animation-duration: 0.5s;
}

.popup_fechar {
    color: white;
    float: right;
    font-family: 'PT Serif';
    font-size: 40px;
    transition: 0.1s;
    margin-right: 20px;
}

.popup_fechar:hover{
    color: #061F36;
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.telaCadastro {
    border: solid 3px goldenrod;
    margin: 0;
    display: flex;
    height: 100%;
}

.imgCadastro {
    background-image: url('assets/cadastro.webp');
    border: solid 3px crimson;
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.formularioCadastro {
    border: solid 3px green;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formularioCadastro h1 {
    font-family: 'Playfair Display';
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.formularioCadastro input {
    font-family: 'Playfair Display';
    font-size: 18px;
    width: 280px;
    margin-top: 15px;
    color: #767676;
    border: none;
    border-bottom:solid 2px #767676;
    padding: 2px;
}

.inputCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudoCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botaoCadastrar {
    background-color: #EAC557;
    font-family: 'PT Serif';
    font-size: 20px;
    color: white;
    border: none;
    width: 285px;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes abrindoPopup {
    from {opacity: 0}
    to {opacity: 1;}
}
/* popup */