/* Início da navbar */
body {
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

.banner {
    height: 400px;
    background: url(assets/sobre_nos.webp) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(22, 72, 118, 0.25);
    background-blend-mode: color;
    display: flex;
    flex-direction: column;
}

.degradê {
    width: auto;
    height: 104px;
    background-image: linear-gradient(rgba(80, 173, 191, 1), rgba(0, 0, 0, 0));
    display: flex;
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    width: 40%;
    font-family: 'Josefin Sans';
    justify-content: end;
    height: 104px;
}

.container img {
    height: 45px;
}

.navbar {
    font-size: 16px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
}

.navbar .agora {
    color: #061F36;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.25s;
}

.navbar a:hover {
    color: #061F36;
    transition: 0.25s;
}

.navbar .botao {
    border: solid 2px #FFFFFF;
    border-radius: 0;
    background-color: transparent;
    font-size: 16px;
    height: 42px;
    width: 145px;
    color: white;
    font-family: 'Josefin Sans';
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links .botao:hover {
    color: #061F36;
    border: solid 2px #061F36;
    transition: 0.25s;
}

.texto_pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.text_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 3px firebrick; */
}

.text_banner h1 {
    color: #E7E7DD;
    text-align: center;
    font-family: 'Grandstander';
    font-size: 85px;
    text-shadow: 0px 4px 4px black;
    padding-bottom: 30px;
}
/* fim */
/* início do sobre nós */

.tudo_aba{
    /* border: solid 3px violet; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.texto_sophie {
    /* border: solid 3px mediumvioletred; */
    height: 500px;
    width: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto_sophie h1{
    text-align: center;
    font-family: 'PT Serif';
    font-size: 35px;
    margin-bottom: 45px;
}

.texto_sophie p {
    font-family: 'PT Serif';
    font-size: 18px;
    margin-top: 10px;
}

.foto_sophie{
    /* border: solid 3px aquamarine; */
    height: 500px;
    width: 450px;
    background-image: url("assets/sobre_nos2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 6px 6px 9px black;
}

/* fim do sobre nós */
/* inicio da personalidade */

.content {
    /* border: solid 3px chartreuse; */
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 750px;
}

.titulo h1{
    text-align: center;
    font-family: 'PT Serif';
    font-size: 45px;
    margin-bottom: 15px;
}

.titulo p {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 20px;
    margin-bottom: 80px;
}

.caixas {
    /* border: solid 3px brown; */
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.caixa{
    border: solid 8px #50ADBF;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}

.caixa .img {
    /* border: solid 3px rgb(108, 34, 178); */
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa img {
    /* border: solid 3px rgb(34, 178, 70); */
    width: 130px;
    height: 130px;
}

.txt1 {
    display: none;
}

.txt2 {
    display: none;
}

.caixa:hover {
    height: 350px;
    transition: 0.3s;
}

/* fim da personalidade */
/* Início do Footer */
.footer {
    display: flex;
    flex-direction: column;
}

.caixa_verde {
    background-color: #50ADBF;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info p {
    font-family: 'PT Serif';
    font-size: 15px;
    text-align: center;
    color: white;
    margin-bottom: 0%;
}
/* Fim do Footer */
