/* Início da navbar */
body {
    margin: 0;
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
}

.banner {
    height: 600px;
    background: url(assets/sobre_nos.webp) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: rgba(22, 72, 118, 0.25);
    background-blend-mode: color;
    /* border: solid 3px fuchsia; */
    display: flex;
    flex-direction: column;
}

.degradê {
    width: auto;
    height: 104px;
    background-image: linear-gradient(rgba(80, 173, 191, 1), rgba(0, 0, 0, 0));
    display: flex;
    /* border: solid 3px hotpink; */
}

.container {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    width: 50%;
    font-family: 'PT Serif';
    justify-content: end;
}

.container img {
    height: 50px;
}

.navbar {
    font-size: 20px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    justify-content: space-between;
}

.navbar .agora {
    color: #061F36;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.25s;
}

.navbar a:hover {
    color: #061F36;
    transition: 0.25s;
}

.navbar button {
    border: solid 2px #FFFFFF;
    border-radius: 0;
    background-color: transparent;
    font-size: 20px;
    height: 46px;
    width: 155px;
    color: white;
    font-family: 'PT Serif';
    cursor: pointer;
    transition: 0.25s;
}

.links button:hover {
    color: #061F36;
    border: solid 2px #061F36;
    transition: 0.25s;
}

.texto_pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid 3px green; */
    height: 100%;
}

.text_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid 3px firebrick; */
}

.text_banner h1 {
    color: #E7E7DD;
    text-align: center;
    font-family: 'Grandstander';
    font-size: 110px;
    text-shadow: 0px 4px 4px black;
}
/* fim */
/* início do sobre nós */

.tudo_aba{
    /* border: solid 3px violet; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.texto_sophie {
    /* border: solid 3px mediumvioletred; */
    height: 500px;
    width: 450px;
}

.texto_sophie h1{
    text-align: center;
    font-family: 'PT Serif';
    font-size: 40px;
    margin-bottom: 45px;
}

.texto_sophie p {
    font-family: 'PT Serif';
    font-size: 20px;
    margin-top: 10px;
}

.foto_sophie{
    /* border: solid 3px aquamarine; */
    height: 500px;
    width: 450px;
    background-image: url("assets/sobre_nos2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 6px 6px 9px black;
}

/* fim do sobre nós */
/* inicio da personalidade */

.personalidade {
    border: solid 3px hotpink;
}

.content {
    border: solid 3px chartreuse;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 600px;
}

.texto {
    border: solid 3px chocolate;
}

.titulo {
    border: solid 3px violet;
}

.titulo h1{
    text-align: center;
    font-family: 'PT Serif';
    font-size: 45px;
}

.caixas {
    border: solid 3px brown;
    display: flex;
    justify-content: space-between;
}

.caixa{
    border: solid 8px #50ADBF;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.25s;
}

.caixa .img {
    border: solid 3px firebrick;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa img {
    border: solid 3px firebrick;
    width: 55%;
    height: 55%;
}

.txt {
    border: solid 3px navy;
    width: 240px;
    display: none;
}

.caixa:hover {
    height: 350px;
    transition: 0.25s;
}

.txt:hover{
    font-size: 10px;
}

/* fim da personalidade */
/* Início do Footer */
.footer {
    display: flex;
    flex-direction: column;
}

.caixa_verde {
    background-color: #50ADBF;
    height: 164px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info img {
    height: 50px;
}

.info p {
    font-family: 'PT Serif';
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 0%;
}
/* Fim do Footer */
